.linkDetail {
  text-decoration: none;
  color: #000;
}

.card {
  background-color: white;
  height: 420px;
  width: 380px;
  display: flex;
  flex-direction: column;
  margin: 15px;
  cursor: pointer;
  transition: 0.5s;
  padding: 5px;
  border: solid var(--color4) 4px;
  border-radius: 35px;
}

.image {
  color: white;
  height: 65%;
}

.image img {
  height: 100%;
  width: 100%;
  border-radius: 30px 30px 0px 0px;
  object-fit: cover;
}

.info {
  height: 35%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.card p {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.info div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.card:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .card {
    height: auto;
    width: 300px;
  }
}
