.container {
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.usersContainer {
  background-color: white;
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 20px;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 60px;
  padding: 30px;
  border: solid var(--color4) 6px;
}

.usersTable {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 30px;
  border-collapse: collapse;
}

.usersTable td,
.usersTable th {
  white-space: nowrap;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}

.containerInfo {
  text-align: center;
}

.editBtn {
  background-color: rgb(4, 144, 46);
  color: #fff;
  cursor: pointer;
}

.editBtn:hover {
  background-color: rgb(26, 184, 74);
  color: #fff;
}

.deleteBtn {
  background-color: rgb(235, 43, 43);
  margin-left: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.deleteBtn:hover {
  background-color: rgb(254, 60, 60);
  color: rgb(255, 255, 255);
}

.adminPagUsers {
  margin-bottom: 20px;
}
