.container{
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    flex-wrap: wrap;
    justify-content: center;
    /* grid-template-columns: repeat(3, 2fr);
    grid-auto-rows: auto; */

    justify-items: center;
    width: 100%;
    height: auto;
    box-shadow: inset 0 15px 25px -15px #111;
}

.container h1{
    font-family:'Montserrat', sans-serif;
    color: white;
    letter-spacing: 1px;
    font-size: 20px;
}