.container {
  /* position: fixed; */
  /* position: absolute; */
  background-color: var(--color3);
  box-shadow: inset 0 15px 25px -15px #111;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  text-align: center;
  bottom: 0;
  padding: 30px 25px;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .footerLeft,
.container .footerRight {
  display: inline-block;
  vertical-align: top;
}

.container .footerLeft {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footerLeft .footerLinks {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 20px;
}
.footerLeft img {
  width: 60px;
  height: 60px;
  margin-top: 15px;
  margin-right: 5px;
}

.link {
  display: inline-block;
  text-decoration: none;
  color: #0e0e0e;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 22px;
  font-weight: 600;
}

.container .footerRight {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.container .footerIcons {
  display: flex;
  flex-direction: row;
}

.container .footerIcons a {
  /* cursor: pointer;
  background-color: transparent;
  text-decoration: none;
  color: #0e0e0e;
  font-size: 18px;
  font-weight: 600; */
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 210px;
  height: 35px;
  cursor: pointer;
  background-color: transparent;
  margin-left: 20px;
  text-decoration: none;
  color: #0e0e0e;
  font-size: 18px;
  font-weight: 600;
}

.container .footerIcons img {
  width: 25px;
  height: 25px;
  margin-top: 5px;
  margin-right: 5px;
}

/* @media (max-width: 880px) {
  .container {
    font: bold 14px;
  }

  .container .footerLeft,
  .container .footerRight {
    display: block;
    width: 100%;
    margin-bottom: 0px;
    text-align: center;
  }
} */

@media (max-width: 1280px) {
  .footerRight {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .container .footerIcons {
    display: inline;
  }
  /* .container .footerIcons a {
    display: none;
  } */

  .container .footerIcons img {
    width: 25px;
    height: 25px;
    margin-top: 5px;
    margin-right: 5px;
  }
}
