.container {
    display: flex;  
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
    /* background: rgb(11,82,91); */
    background: linear-gradient(260deg, rgba(11,82,91,1) 0%, rgba(27,58,75,1) 30%, rgba(77,25,77,1) 100%);
    align-self: center;
    margin: 20px;
    color: black;
    font-family: 'Montserrat',sans-serif;
    font-size: 18px;
    
}

.container button {
    color: white;
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    background-color: #ff9b00;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    font-family:'Montserrat',
    sans-serif;
    font-weight: 800;
}

.container button:hover{
    background-color: rgb(179, 7, 205);
    cursor: pointer;   
}

.cardDetail {
    background-color: white;
    height: 90%;
    width: 90%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 60px;
    padding: 30px;
    border: solid var(--color4) 6px;

}

.title{
    display: flex;
    justify-content: center;
    font-size: 35px;
}
.title h3{
    margin: 15px;
}

.detail{
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
}


.left{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 50%;
   
}

.right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-start;
    width: 50%;
}
.right img{
    align-self: flex-start;
    margin-top: 50px;
}
.right button{
    
    display: flex;
    justify-content: center;
    align-self: center;
    color: white;
    border-radius: 10px;
    height: 40px;
    width: 150px;
    background-color: #ff9b00;
    font-size: 20px;
    cursor: pointer;
    align-items: center;
    color: white;
    padding: 10px;
    font-family:'Montserrat',
    sans-serif;
    font-weight: 800;
    margin: 20px
}

.right button:hover{
    background-color: rgb(179, 7, 205);
    cursor: pointer;
}

.right h4{
    display: flex;
    align-self: center;
}


.image img{
    width: 90%;
    align-self: center;
}

.image{
    display: flex;
    justify-content: center;
}

.courseInfo{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 80%;
}
.courseInfo p{
    margin: 2px;
}

.containerClases p{
    margin: 8px;
}

.detail h4{
    font-size: 16px;
    margin: 5px;
}
.detail .price{
    font-size: 22px;
    margin: 5px;
    letter-spacing: 2px;
    padding: 10px;
    border: solid var(--color4) 1.8px;
   width: fit-content;
}