.container .resetButton {
  background-color: rgba(218, 218, 218, 0.465);
  color: black;
  width: 40px;
  height: 40px;
  font-size: 14px;
  font-weight: 1500;
  border-radius: 9999px;
}

.container .resetButton:hover {
  background-color: rgba(218, 218, 218, 0.855);
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
