.container {
    display: flex;  
    flex-direction: column;
    align-items: center;
    height: 1200px;
    width: auto;
    background: rgb(11,82,91);
    background: linear-gradient(260deg, rgba(11,82,91,1) 0%, rgba(27,58,75,1) 30%, rgba(77,25,77,1) 100%);
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

.totalProfile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.profileDetail {
    display: flex;
    width: auto;
}

.cursesDetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    
}