.container {
    display: flex;  
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
    background: linear-gradient(260deg, rgba(11,82,91,1) 0%, rgba(27,58,75,1) 30%, rgba(77,25,77,1) 100%);
    box-shadow: inset 0 15px 25px -15px #111;
}


.container h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color:white
}

.totalProfile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.profileDetail {
    display: flex;
    width: auto;
}

.cursesDetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    
}
.admin {
    display: flex;
    flex-direction: row;
}
.admin .left{
    display: flex;
    flex-direction: column;
}
.admin .right{
    display: flex;
    flex-direction: column;
}