.container {
    display: flex;
    flex-direction: column;
    align-self: center;

    width: 800px;
    height: 400px;
    background-color: white;
    margin: 20px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    border-radius: 30px;
    padding: 20px;
    border: solid var(--color4) 8px;
}

.title h2 {
    color: black;
    font-size: 30px;
}

.container .table{
    width: 95%;
    align-self: center;
    justify-content: space-between;
    border-radius: 5px;

}
.container .table th{
    font-size: 18px;
}
.container .table td{
    font-size: 16px;
}