.home {
  display: flex;
  flex-direction: column;
  height: auto;


}

.footer {
  margin-top: auto;
}
.hiden{
  display:none;
}
.visible{
  position:absolute;
  display:flex;
  flex-direction: column;
   
  top: 300px; right:0%;
  align-self: flex-start;

  background: linear-gradient(260deg, rgba(11,82,91,1) 0%, rgba(27,58,75,1) 30%, rgba(77,25,77,1) 100%);
  border: solid var(--color4) 6px;
  border-radius: 30px;
  padding: 30px;
  color: black; 
}
