
.nosotros{
    margin-left: 100px;
    letter-spacing: 5px;
    font-size: xx-large;
    font-weight: bold;
    color: white;
}
.container{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 95%;
    height:1300px;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.body{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}
.body .cards{
    display: flex;
    flex-direction: row;
    width: 100%;
    
}

.body .img{
    width: 100%;
    display: flex;
       }
.body .img img{
    width: 100%;
    height: auto;
    
}
.cards .card{
    position: relative;
    background-color: white;
    width:404px;
    height: 300px;
    justify-content: center;
  align-self: center;
   padding: 30px;
    color: black;
    font-size: medium;
    letter-spacing: 1px;
}
.container .title {
    display: flex;
    justify-content: center;
   
    
  }
  .container .title h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 45px;
    color: white;
    align-self: center;
    text-align: center;
    display: flex;
   
  }

  .body .linkedin{
    display: flex;
    flex-direction: row;
    height: 260px;
    width: 100%;
    justify-content: space-evenly;
    
}
.body .linkedin a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkedin .uno{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 260px;
    background-color: rgba(0, 0, 0, 0.281);
    border: solid var(--color4) 4px;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
}

.linkedin .uno:hover{
    background-color: rgba(255, 255, 255, 0.122);
}

.linkedin .uno img{
    display: flex;
    width: 150px;
    align-self: center;
    justify-content: center;
    margin-bottom: 10px;
}

.linkedin .uno p{
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 550;
    color: white;
    align-self: center;
    text-align: center;
    display: flex;
    letter-spacing: 2px;
    margin:2px;
}