.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 800px;
    height: auto;
    width: 100%;
}

.container .title{
    display: flex;
    justify-content: center;
}
.container .title h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: white;
    align-self: center;
}

.container .body{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 1200px;
    height: 600px;
    background-color: white;
    margin: 10px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    border-radius: 30px;
    padding: 30px;
    border: solid var(--color4) 8px;
}

.container .body .insideBody{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    margin-bottom: 30px;
    border: solid var(--color4) 1px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: rgb(248, 242, 210);
    align-self: center;
}


.container input{
    height: 38px;
    width: 380px;
    margin: 20px;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    align-self: center;
}
.container .buscar{
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    align-self: center;
    margin: 10px;
    cursor: pointer;

}

.container .totalEarnings{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 500px;
    height: 50px;
    background-color: white;
    margin: 10px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    border-radius: 10px;
    padding: 20px;
    border: solid var(--color4) 1.8px;
}

.totalEarnings h2{
        color: black;
        font-size: 25px;
        margin-top: 5px; 
        text-align: center;

}

.totalEarnings h3{
    color: black;
    font-size: 35px;
    margin-top: 5px; 
    /* border: solid black 0.5px; */
    padding: 15px;
    width: fit-content;
    text-align: center;

}

.numbers{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 500px;
    height: 400px;
    background-color: white;
    margin: 10px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    border-radius: 10px;
    padding: 20px;
    border: solid var(--color4) 1.8px;
}
.numbers h2{
    color: black;
    font-size: 25px;
    margin-top: 5px; 

}