.container {
    display: flex;
    justify-content: left;
    width: 345px;
    height: 60px;
    cursor: pointer;
    border: solid var(--color3) 2px;
    border-radius: 15px;
    /* background-image: url('https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2019/03/javascript.jpg?itok=gnWgoCTM'); */
   /* background-size: cover; */
   background-color: white;
    margin: 10px;
    padding: 10px;
}


.container h4{
    display: flex;
    align-self: center;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    width: 80%;
    margin-left: 2px;
    text-align:left;
}

.container a{
    text-decoration: none;
}
