.container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 315px;
    height: 40px;
    cursor: pointer;
    border: solid var(--color3) 3px;
    border-radius: 15px;
    /* background-image: url('https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2019/03/javascript.jpg?itok=gnWgoCTM'); */
   /* background-size: cover; */
   background-color: white;
    margin: 5px;
}


.container h4{
    display: flex;
    align-self: center;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    background-color: transparent;
    padding: 5px;
    font-style: bold;
    width: 80%;
    margin-left: 4px;
}

.container p{
    align-self: center;
}
