.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: fit-content;
  background-color: white;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  border-radius: 30px;
  padding: 30px;
  margin: 5px;
  border: solid var(--color4) 6px;
}

.container .up video {
  align-self: center;
  width: 90%;
  height: auto;
  margin: 10px;
}
.container .up {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 50%;
}

.container img {
  object-fit: cover;
  width: 900px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  margin-bottom: 10px;

  background-color: aqua;
}

.container .down {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50%;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 10px;
}

.container h2 {
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.video {
  align-self: center;
}

.buttonEditarCourse {
  color: rgb(255, 255, 255);
  background: #ff9b00;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  border-radius: 17px;
  border: solid var(--color4) 2px;
  width: 200px;
  height: 50px;
  font-weight: bold;
}

.buttonEditarCourse:hover {
  background: rgb(122, 3, 122);
  color: white;
  cursor: pointer;
}

.container .buttonEdicion .buttonEditarClass {
  color: rgb(0, 0, 0);
  background: #ff9b00;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  border-radius: 17px;
  border: solid var(--color4) 2px;
  width: auto;
  height: 50px;
  font-weight: bold;
}

.container .buttonEdicion button:hover {
  background: rgb(122, 3, 122);
  color: white;
  cursor: pointer;
}

.buttonEdicion {
  display: flex;
  flex-direction: row;
}

.container .buttonEdicion button {
  color: rgb(0, 0, 0);
  background: #ff9b00;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  border-radius: 17px;
  border: solid var(--color4) 2px;
  width: auto;
  height: 50px;
  font-weight: bold;
  margin-left: 20px;
}

.Commentary {
  margin-top: 10px;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 300px;
  width: 600px;
  border: 1px solid #ff0000;
  border-radius: 20px;
  padding: 10px;
}

.Commentary h4 {
  color: red;
}
