.navBar {
    background: linear-gradient(to left, var(--color4), var(--color5));
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    color: white;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 10px 5px rgb(0,0,0,0.3);
}

.navBar h1 {
    margin: 0;
    width: 150px;
}

.navBar input {
    border: none;
    border-radius: 10px;
    padding: 0;
    height: 40px;
    width: 400px;
    text-align: center;
    font-size: 20px;
}

.navBar button {
    color: white;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 150px;
    background-color: #ff9b00;
    font-size: 20px;
    cursor: pointer;
}

