.navBar {
  background: linear-gradient(to right, var(--color4), var(--color5));

  display: flex;
  height: 75px;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  color: white;
  box-shadow: 0px 10px 5px rgb(0, 0, 0, 0.3);
  box-shadow: inset 0 15px 25px -15px #111;
  /* flex-wrap: wrap; */
  top: 100px;
}

.linkHome {
  text-decoration: none;
}

.navBar h1 {
  margin: 20px;
  width: 150px;
  text-decoration: none;
  color: white;
  font-family: "Gugi", cursive;
  letter-spacing: 4px;
  font-size: 60px;
  text-shadow: 5px 5px 5px rgba(13, 167, 187, 0.67);
}

.navBar h1:hover {
  text-shadow: 5px 5px 5px rgba(248, 186, 16, 0.67);
}

.navBar input {
  border: none;
  border-radius: 10px;
  padding: 0;
  height: 40px;
  width: 400px;
  text-align: center;
  font-size: 20px;
  margin: 15px;
}

.navBar button {
  color: white;
  border-radius: 10px;
  height: fit-content;
  width: fit-content;
  background-color: #ff9b00;
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  margin: 20px;
}

.navBar button:hover {
  background-color: rgb(120, 3, 138);
  cursor: pointer;
}

@media (max-width: 1280px) {
  .navBar {
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
  }
  .navBar input {
    width: 180px;
  }
  .navBar button {
    height: fit-content;
    width: fit-content;
  }
}
