.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: rgb(11, 82, 91);
    background: linear-gradient(
      260deg,
      rgba(11, 82, 91, 1) 0%,
      rgba(27, 58, 75, 1) 30%,
      rgba(77, 25, 77, 1) 100%
    );
  }
  
  .editPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: auto;
    background-color: white;
    font-family: "Montserrat", sans-serif;
    margin: 30px;
    color: black;
  
    border-radius: 30px;
    padding: 20px;
    border: solid var(--color4) 8px;
  }
  
  .container input {
    border-radius: 10px;
    height: 35px;
    width: 350px;
    font-size: 18px;
    margin: 10px;
  
    font-family: "Montserrat", sans-serif;
  }
  .container label {
    font-family: "Montserrat", sans-serif;
    margin: 10px;
    color: black;
    font-size: 18px;
  }
  
  .editPanel p {
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    background-color: rgb(228, 223, 223);
    width: 350px;
    padding: 5px;
    border-radius: 5px;
  }
  
  .save {
    width: fit-content;
    height: fit-content;
  
    margin-left: 30px;
    margin-right: 30px;
  
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ff9b00;
    color: white;
    /* border: solid black 0.5px; */
    /* text-align: center; */
    align-self: center;
    margin-top: 30px;
  }
  
  .save:hover {
    background-color: rgb(179, 7, 205);
    cursor: pointer;
  }
  