.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.title{

}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.reviewCard{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: fit-content;
    border-radius: 15px;
    padding: 20px;
    border: solid var(--color4) 1.9px;
    margin: 10px;
    
    
}

.reviewCard p{
    margin: 4px;
}

.reviewCard h4 {
    margin: 5px;
}

.container .img img{
    width: 50px;
    margin-right: 10px;
}
.container .header {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

    
}

.container .reviewCard button{

    width: fit-content;
    height: 30px;
    font-size: 14px;
    border-radius: 10px;
    background-color: rgb(208, 203, 203);
    color: black;
    padding: 5px;
    cursor: pointer;
    font-weight: 200;
    margin-left: 25px;
    border: none;
}
.container .reviewCard button:hover{
    
    color: white;
    background-color: rgb(42, 41, 41);
}