.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.title{

}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.reviewCard{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: fit-content;
    border-radius: 30px;
    padding: 15px;
    border: solid var(--color4) 1.8px;
    margin: 10px;
}

.reviewCard p{
    margin: 4px;
}

.reviewCard h4 {
    margin: 5px;
}