.containerTotal {
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 1000px;
  min-height: 1000px;
  background-color: rgb(250, 242, 196);
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  border-radius: 15px;
  padding: 30px;
  margin: 5px;
  border: solid var(--color4) 3px;
}

.containerClases {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 1000px;
  min-height: 750px;
  background-color: rgb(250, 242, 196);
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  border-radius: 15px;
  padding: 30px;
  margin: 5px;
  border: solid var(--color4) 3px;
}

.containerTotal .container .up {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
}

.container img {
  object-fit: cover;
  margin-top: 50px;
  width: 900px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}

.container .down {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  flex-direction: column;
  margin-top: 25px;
  margin-bottom: 45px;
}

.container h2 {
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.video {
  align-self: center;
}

.buttonEditarCourse {
  color: rgb(255, 255, 255);
  background: #ff9b00;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  border-radius: 17px;
  border: solid var(--color4) 2px;
  width: 200px;
  height: 50px;
  font-weight: bold;
}

.buttonEditarCourse:hover {
  background: rgb(122, 3, 122);
  color: white;
  cursor: pointer;
}

.container .buttonEdicion .buttonEditarClass {
  color: rgb(0, 0, 0);
  background: #ff9b00;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  border-radius: 17px;
  border: solid var(--color4) 2px;
  width: auto;
  height: 50px;
  font-weight: bold;
}

.containerClases .buttonAprobClass {
  color: rgb(0, 0, 0);
  background: #ff9b00;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  border-radius: 17px;
  border: solid var(--color4) 2px;
  width: auto;
  height: 50px;
  font-weight: bold;
  margin-top: 50px;
}

.container .buttonEdicion button:hover {
  background: rgb(122, 3, 122);
  color: white;
  cursor: pointer;
}

.containerTotal .buttonEdicion button:hover {
  background: rgb(122, 3, 122);
  color: white;
  cursor: pointer;
}

.buttonEdicion {
  display: flex;
  flex-direction: row;
}

.containerTotal .buttonEdicion button {
  color: rgb(0, 0, 0);
  background: #ff9b00;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  border-radius: 17px;
  border: solid var(--color4) 2px;
  width: auto;
  height: 50px;
  font-weight: bold;
  margin-left: 20px;
}

.buttonEdicion {
  display: flex;
  flex-direction: row;
}

.container .classes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 250px;
  margin-top: 10px;
}

.classes .deshabilitado {
  color: rgba(255, 0, 0);
}

.classes .habilitado {
  color: rgb(0, 0, 0);
}

.containerClases .classes p:hover {
  cursor: pointer;
  font-weight: 800;
  text-decoration: underline;
}

.container .containerClass .containerVideo .video {
  width: 50%;
  height: auto;

  margin-bottom: 35px;
}

.containerVideo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: min-content;
  height: auto;
  padding: 0;
  border: 1px solid black;
  margin-top: 75px;
}

.mapeo {
  display: flex;
  height: auto;
  width: 650px;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.096);
}

.SubcontainerInput2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 450px;
  padding: 10px;
}

#description {
  border-radius: 12px;
  width: max-content;
  height: auto;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 15px;
  margin-bottom: 25px;
}

#description {
  margin-top: 10px;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 300px;
  width: 600px;
  border: 1px solid #000000;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 25px;
}
