.container {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    height: 1000px;
    background-color: white;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    border-radius: 30px;
    padding: 20px;
    margin: 5px;
    border: solid var(--color4) 6px;
}

.container .classes {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container .classes input {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}
.container .classes p {
    cursor: pointer;
}
.container .classes p:hover {
    cursor: pointer;
    font-weight: 800;
    text-decoration: underline;
}