a{
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 380px;
    height: 160px;
    background-color: white;
    margin: 10px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    border-radius: 30px;
    padding: 20px;
    border: solid var(--color4) 8px;
}
.container:hover{
    background-color: rgb(250, 242, 196);
}
.title h2 {
    color: black;
    font-size: 22px;
    margin-top: 5px;
}

.container .body{
    align-self: center;
}
